{% extends "layout.html" %}
{% set active_page = "help" %}
{% block title %} Metahosting {% endblock %}


{% block content %}
<div class="container">
  <div class="jumbotron">
    <h3>Welcome to metahosting help</h3>
    <div>
       Meta hosting is an extensible software-as-a-service solution.
    </div>
    <h3>Usage</h3>
    <div>
       You can create instances of provided software types. Afterward you
        can view the connection details required to connect to your instance.

        This is a prototype! We provide no guarantees, you should not perform
        mission critical activities with the created instances. In particular
        account for the fact that the instances will be killed after some time.
    </div>
   </div>
</div>
{% endblock %}
