{% extends "layout.html" %}
{% block title %} Metahosting {% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
      <div class="alert alert-warning"><span style="color:red"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>&nbsp;Warning - this service is still in development! Instances are for testing only.</div>
      {% include 'flash.html' %}
{% if types %}
    <h3>Create instance</h3>
        <form class="form-inline" role="form" action="" method="post">
            <div class="form-group">
               <select  class="form-control" name="instance_type">
                {% for item in types|dictsort(false, 'key') %}
                    <option value="{{ item[0] }}">{{ item[0] }} </option>
                {% endfor %}
                </select>
                <input class="btn btn-primary" type="submit" value="create" name="create"/>
            </div>
        </form>
{% else %}
      <h3>No instance type registered!</h3>
{% endif %}
     </div>
</div>
{% endblock %}
