{% extends "layout.html" %}
{% block title %} Metahosting {% endblock %}


{% block content %}
<div class="container">
  <div class="jumbotron">
{% if types.iteritems %}
    <h3>Create instance</h3>
        <form class="form-inline" role="form" action="" method="post">
            <div class="form-group">
           <select  class="form-control" name="instance_type">
        {% for type_name, type_description in types.iteritems() %}
            <option value="{{ type_name }}">{{ type_name }} </option>
        {% endfor %}
        </select>
            <input class="btn btn-primary" type="submit" value="create" name="create"/>
            </div>

        </form>
{% else %}
      <h3>No instance type registered!</h3>
{% endif %}
     </div>
</div>
{% endblock %}
