{% extends "layout.html" %}
{% set active_page = "instances" %}


{% block title %} Metahosting: Instances {% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
{% if instances %}
     <h3>List of instances</h3>
        {% for id, instance in instances %}
          {% include 'instance.html' %}
        {% else %}
           <p>No instances</p>
        {% endfor %}


     <ul class="pager">
        {% if pagination.has_prev %}
           <li class="previous"><a href="{{ url_for('all_instances', page = pagination.page-1) }}">&larr; Newer instances</a></li>
           {% else %}
           <li class="previous disabled"><a href="#" onclick="return false;">&larr; Newer instances</a></li>
        {% endif %}

        {% if pagination.has_next %}
            <li class="next"><a href="{{ url_for('all_instances', page = pagination.page+1) }}">Older instances &rarr;</a></li>
            {% else %}
            <li class="next disabled"><a href="#" onclick="return false;">Older instances &rarr;</a></li>
        {% endif %}
     </ul>


{% endif %}
  </div>
</div>
{% endblock %}
