<table class="table table-bordered table-condensed">
   <tr><td>Id</td>
       <td><a href="{{ url_for('one_instance', instance_id=id) }}">{{ id }}</a></td>
   </tr>
   {% if instance['ts'] %}
   <tr><td  width="80px">Created</td><td>{{ instance['ts']|datetime }} </td></tr>
   {% endif %}

    <tr><td>Type</td>
       <td><a href="{{ url_for('one_type', name=instance['type']) }}">{{ instance['type'] }}</a>
       </td>
   </tr>

   <tr{% if instance['status'].lower().find('failed')!=-1 %} class="danger" {% else %} class="info" {% endif %}>
    <td>Status</td>
    <td>{{ instance['status'] }}</td>
   </tr>
   <tr>
       <td>Actions</td>
       <td>
       <button type="button" class="btn btn-default btn-xs">
           <span style="color:red"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></span> Remove
       </button>
       </td>
   </tr>
</table>
