{% extends "bootstrap/base.html" %}
{% block title %} Metahosting: Instance created {% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Dariah Metahosting</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index') }}">Create new instance</a></li>
            <li><a href="{{ url_for('all_instances') }}">My instances</a></li>
            <li><a href="#">Instance types</a></li>
          </ul>
        </div>
      </div>
    </div>

{% endblock %}


{% block content %}
<div class="container">
  <div class="jumbotron">

     <h3>Instance created</h3>
        {% include 'instance.html' %}
  </div>
</div>
{% endblock %}
