{% extends "layout.html" %}
{% set active_page = "types" %}
{% block title %} Metahosting: Instance type {{ type_name }} {% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
      <h3>Type description</h3>
          <table class="table table-bordered table-condensed">
            <tr>
                <td width="80px">Name</td>
                <td><a href="{{ url_for('one_type', name=type_name) }}">{{ type_name }}</a></td>
            </tr>
            <tr>
                <td width="80px">Description</td>
                <td>{{ type_description['description'] }} </td>
            </tr>
        </table>
      <a href="{{ url_for('all_types') }}"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;All types</a>
      {% if instances|length >0 %}
      <h3>Instances of this type</h3>
      {% for id,instance in instances.iteritems() %}
          {% include 'instance.html' %}
      {% endfor %}
      <a href="{{ url_for('all_instances') }}"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;All instances</a>
      {% endif %}
  </div>
</div>
{% endblock %}
