{% extends "layout.html" %}
{% set active_page = "types" %}
{% block title %} Metahosting: Instance types {% endblock %}


{% block content %}
<div class="container">
  <div class="jumbotron">

{% if types.iteritems %}
     <h3>List of instance types</h3>
        {% for type_name, type_description in types.iteritems() %}
          <table class="table table-bordered table-condensed">
            <tr>
                <td width="80px">Name</td>
                <td><a href="{{ url_for('one_type', name=type_name) }}">{{ type_name|e }}</a></td>
            </tr>
            <tr>
                <td width="80px">Description</td>
                <td>{{ type_description['description']|e or 'No description available' }} </td>
            </tr>
            {% if type_description.available is not none %}
            <tr {% if type_description.available == false %} class="danger" {% else %} class="info" {% endif %}>
                <td width="80px">Status</td>
                <td>{{ type_description.status|e or type_description.available }} </td>
            </tr>
            {% endif %}
          </table>
        {% endfor %}
{% endif %}
  </div>
</div>
{% endblock %}
